<div>
  <nav class="navbar navbar-light">
    <form class="form-inline">
      <div>Search</div>
      <input class="form-control mr-sm-2 search-input" type="text" placeholder="keyword" aria-label="Search">
    </form>
     <a class="option"><i class="fa fa-cutlery" aria-hidden="true"></i>Breakfast</a>
     <a class="option"><i class="fa fa-cutlery" aria-hidden="true"></i>Lunch</a>
     <a class="option"><i class="fa fa-cutlery" aria-hidden="true"></i>Dinner</a>
     <a class="option"><i class="fa fa-glass" aria-hidden="true"></i>Dessert</a>
     <a class="option"><i class="fa fa-apple" aria-hidden="true"></i>Fruits</a>
  </nav>
</div>
