/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  font-family: 'Gentium Basic';
 }
.img-logo {
  width: 100px;
  height: 100px;
}
.header-title {
  font-weight: bold;
  font-size: 25px;
}
.header-login {
  margin: 8px;
}
.header-login > span {
  margin: 4px;
}
.header-login > .fa, .login-btn, .reg-btn {
  cursor: pointer;
} 
.fa-facebook:hover {
  color: blue
}
.fa-google:hover {
  color: red
}
.navbar {
  color: white;
  background-color: green;
}
.search-input {
  margin-left: 3px;
  height: 34px;
}
.option > .fa {
  margin-right: 2px;
}
.carousel-item > img {
  width: 500px;
  height: 480px;
}
.form-right > form {
  margin: 20px 4px 0px 4px;
}
.form-right {
  border-bottom: 1px solid #A9A9A9
}
.hot-recipes {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}
.hot-food {
  width: 350px;
  height: 300px;
  margin: 3px;
}
.price {
  font-weight: bold;
}
.footer-header {
  margin-top: 40px;
}
.footer-text {
  margin: 20px;
}
.error-list {
  list-style-type: none;
  color: red;
}
.login-input {
  height: 32px;
}
.alert {
  margin-top: 2px;
}
.comment-input {
  resize: none;
}
.comment-header {
  margin-top: 3px;
}
.comment-wrapper {
  margin-top: 20px;
  margin-right: 4px;
  max-height: 280px;
  overflow-y: scroll;
  background-color: #F0FFF0
}
.comment-form {
  position: absolute;
  bottom: 0px;
  width: 90%;
}